@import "tailwindcss";

:root {
  --background: #FCFCFC;
  --foreground: #000000;
  --primary: #F55733;
  --muted: #333333;
  --font-sans: var(--font-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
